/*
    #236357
    #595959
    #43AF9A
    #4280BE
    #51626D
    #444444
    #FF9900
*/
:root{
    --app: #4280BE;

    --delete-btn: #e40101;
    --delete-btn-hover:rgb(190, 0, 0);

    --edit-btn:#007bff;
    --edit-btn-hover:#0056b3;

    --confirm-btn: #0056b3;
    --confirm-btn-hover: #002f61;

    --action-btn:white;
    --action-btn-border:#0056b3;
    --action-btn-hover:#0056b3;

}


body{
    min-height: 100vh;
    font-family: "Lexend Deca", sans-serif , 'Courier New', Courier, monospace , system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

::placeholder{
    font-family: "Lexend Deca", sans-serif , 'Courier New', Courier, monospace , system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header.nav-bar{
    width: 100%;
    height: 88px;
    background-color: var(--app);
    color: white;
    padding: 8px 8%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: content;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); 
}

.logo-title{
    display: flex;
    align-items: center;
    width: 400px;
}

.logo{
    width: 50px;
    height: 60px;
    margin-right: 30px;
}

header.nav-bar nav{
    width:350px;
}

header.nav-bar nav ul{
    font-size:0.85em;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    list-style: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header.nav-bar nav .header-opts{
    display:none;
}

@media screen and (max-width: 950px) {
    header.nav-bar nav ul{
        display:none;
    }
    header.nav-bar nav .header-opts{
        display:flex;
        justify-content: end;
        align-items: center;
        height: 100%;
    }

    header.nav-bar nav .header-opts svg{
        cursor: pointer;
    }

}

.nav-link{
    text-decoration: none;
    color: inherit;
}

.nav-link:hover{
    text-decoration: underline;
}

.alert-msg{
    margin-top: 3px;
    color:red;
    font-size: small;
}

nav.displayed-header-opts{
    display: none;
    justify-content: center;
    align-items: start;
    position: absolute;
    right: 0px;
    top:0px;
    width: 170px;
    height: 100vh;
    background-color: white;
    z-index: 2;
    box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.5);
}

nav.displayed-header-opts ul{
    height: 200px;
    padding: 160px 0px;
    width: 100%;
    list-style: none;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

nav.displayed-header-opts .close-header-opts{
    position:sticky;
    right:40px;
    top: 40px;
    cursor: pointer;
}

header.principal-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 100%;
}

footer.main-footer{
    width: 100%;
    background-color: var(--app);
    color: white;
    height: 52px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.1);
}